.App {
  text-align: center;
  background-color: beige;
  font-family: Tahoma;
  font-weight: bolder;
  font-size: larger;
  padding-top: 40px;
}

.pokemon {
  width: 350px;
  background-color: cyan;
  border: 3px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
}

.pokemon img {
  width: 150px;
  background-color: blueviolet;
  height: 150px;
  margin-bottom: 10px;
}

.language-buttons {
  margin-bottom: 20px;
}

.language-buttons button {
  margin: 15px;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: medium;
  font-weight: bold;
  font-family: 'Times New Roman';
}

.language-buttons button:hover {
  background-color: #0056b3;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-column {
  font-family: Arial;
  margin-left: 10px;
  padding: 15px;
  font-weight: bold;
}

.stats-column p {
  text-align: left;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  gap: 25px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Courier New';
}

.type {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}